<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
  <permission
    android:name="co.twinotify.app.permission.E2E_FIXTURE"
    android:protectionLevel="signature" />

  <uses-permission android:name="co.twinotify.app.permission.E2E_FIXTURE" />
  <application>
    <receiver
      android:name="co.twinotify.core.e2e.E2eControlReceiver"
      android:exported="true"
      android:permission="android.permission.DUMP"
      tools:ignore="ExportedReceiver">
      <intent-filter>
        <action android:name="co.twinotify.e2e.CONTROL" />
      </intent-filter>
    </receiver>

    <receiver
      android:name="co.twinotify.core.e2e.CallControlFixtureReceiver"
      android:exported="false" />

    <provider
      android:name="co.twinotify.core.e2e.E2eStateProvider"
      android:authorities="${applicationId}.e2e"
      android:exported="true"
      android:grantUriPermissions="false"
      tools:ignore="ExportedContentProvider" />
  </application>
</manifest>
