<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
  <application>
    <activity
      android:name="co.twinotify.core.service.ForegroundNotificationTestActivity"
      android:exported="true"
      android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <service
      android:name="co.twinotify.core.call.CallMirrorTestForegroundService"
      android:exported="false"
      android:foregroundServiceType="remoteMessaging" />
    <provider
      android:name="co.twinotify.core.e2e.E2eStateProvider"
      android:authorities="co.twinotify.core.test.e2e"
      tools:replace="android:authorities" />
  </application>
</manifest>
